<button
  aria-label="Toggle Menu"
  class="menu-toggle cursor-pointer text-white rounded-full p-4 hover:text-indigo-500 focus:text-indigo-500 focus:bg-indigo-100 focus:outline-none"
  type="button"
  aria-expanded="false"
>
  <svg
    class="icon-open w-6 h-6 fill-current block"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      fill-rule="evenodd"
      d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
    ></path>
  </svg>

  <svg
    class="icon-close w-6 h-6 fill-current hidden"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      fill-rule="evenodd"
      d="M18.3 5.71a1 1 0 0 1 0 1.41L13.41 12l4.89 4.88a1 1 0 1 1-1.42 1.42L12 13.41l-4.88 4.89a1 1 0 0 1-1.42-1.42L10.59 12 5.71 7.12a1 1 0 0 1 1.42-1.42L12 10.59l4.88-4.88a1 1 0 0 1 1.42 0z"
    ></path>
  </svg>
</button>
